<html>
    <h1 style="font-size:100px">
        <strong><%= @event.title %></strong>
            <span class="label label-warning", style="font-size:20px">
            <%= $TYPELIST[@event.typemeet.to_i] %>
        </span>
    </h1>

    <h3>
    <% if @event.urgency == 4%>
        <i>Happening Now</i>
    <% end %>
    </h3>

    <p>
        <strong>Location:</strong>
        <%= @event.location %>

        <%= form_for :event, url: event_path(@event), method:
            :patch do |f| %>
            <%= @event.description %></br>
            <%= f.text_area :description %></br>
            <%= f.submit %>
        <% end %>
    </p>

    
    <h4>Aii we out? Or Nah?</h4>
    <% @event.comments.each do |comment| %>
        <p>
        <strong><%= comment.commenter %></strong>
        </p>
        <p>
        <%= comment.body %>
        </p>
    <% end %>
    <%= form_for([@event, @event.comments.build]) do |f| %>
        <p>
            <%= f.label :commenter %><br>
            <%= f.text_field :commenter %>
        </p>
        <p>
            <%= f.label :body %><br>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <% end %>



    <%= link_to 'Delete Event', event_path(@event),
        method: :delete, data: {confirm: 'Are you sure?'} %></td>
</html>
